body{
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.courseSelecter{
    width: 500px;
}

.courseSelecterCell{
    height: 50px;
    width: 490px;
    background: #fefefe;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #00000014;
    transition: all 500ms cubic-bezier(0, 0.5, 0, 1) 0ms;
}

.courseSelecterCell.avaliable:hover{
    box-shadow: 0 3px 10px #0000001c;
}

.courseSelecterCell.selected, .courseSelecterCell.selected:hover{
    /*box-shadow: 0 5px 13px #00000017*/
    box-shadow: 0 5px 13px #4ec5d84a;
    border: 1px solid #4ec5d8;
}

.courseCheckbox{
    display: none;
}

.courseAnimateDiv{
    height: 50px;
    width: 0px;
    background: #4ec5d8;
    animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.courseIndex{
    display: block;
    height: 50px;
    line-height: 50px;
    width: 500px;
    margin-top: -50px;
    padding-left: 20px;
    font-size: 18px;
    color: dimgrey;
    font-weight: 500;
}

.courseIndex.light{
    color:white;
}

.classTimeLabel{
    display: block;
    margin-top: -50px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color: gray;
}

.classTimeLabel.light{
    color:white;
}

.dateRadio{
    display: none;
}

.dateLabel{
    color: dimgrey;
    font-weight: 500;
    font-size: 16px;
}

.dateSelecter{
    font-size: 0;
    width: 500px;
    text-align: center;
}

.dateSelecterCell{
    border: 1px solid #00000014;
    height: 42px;
    width: 56px;
    text-align: center;
    line-height: 42px;
    border-radius: 3px;
    margin: 0px 2px 0px 2px;
    display: inline-block;
    transition: all 500ms cubic-bezier(0, 0.5, 0, 1) 0ms;
}

.dateSelecterCell:hover{
    box-shadow: 0 3px 10px #0000001c;
    border: 1px solid #4ec5d86b;
}