@media (max-width: 1110px){
    .card {
        width: calc(100% - 20px);
    }
}

body{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    background: #e9fcff;
}

span{
    transition: all 300ms cubic-bezier(0.15, 0.43, 0.44, 1) 0ms;
}

.secondaryTitle{
    font-size: 20px;
    font-weight: 600;
}

.insideCard{
    padding: 25px 30px 35px 30px;
}

.classRoomContainer{
    width: 845px;
    font-size: 0px;
} 

.classRoomButton{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    background: white;
    font-size: 0px;
    margin: 5px 4px;
    border-radius: 5px;
    cursor: pointer;
}

.classRoomButton:hover{
    box-shadow: 0 0px 0px 1px #ffffff, 0 0px 0px 2px #4ec5d8b5;
}

.classRoomButton.wide{
    padding-right: 22px;
    padding-left: 2px;
}

.buttonInnerSpan{
    font-size: 12px;
    line-height: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    font-weight: 500;
    color: #c7c7c7;
    margin: 0;

}
.icon{
    margin-left: 8px;
}

.roomNameLabel{
    font-size: 25px;
    font-weight: 600;
    color: #696969;
    margin: 0px 10px 0px 20px;
    cursor: pointer;
}

.roomCapacity{
    margin-left: -7px;
    margin-bottom: 21px;
    line-height: 10px;
    height: 10px;
}

.nextIndicator.hidden{
    opacity: 0;
    width: 0;
    color: #949494;
}

.nextIndicator{
    opacity: 1;
    color: #4ec5d8;
    width: 24px;
}