<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<form action={{ url_for('change_password',user_id = session['user_id']) }} method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.old_password.label(class="hintLabel") }}
                        {{ form.old_password(size=32, class="inputo", id="") }}<br>
                        {% for error in form.old_password.errors %}
                        {% if error == "This field is required." %}
                        <script>
                            inputBoxErrorStatus("usernameInput")
                        </script>
                        {% else %}
                        <span span class="inputErrorMessage">[{{ error }}]</span>
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.new_password.label(class="hintLabel") }}
                        {{ form.new_password(size=32, class="inputo", id="") }}<br>
                        {% for error in form.new_password.errors %}
                        {% if error == "This field is required." %}
                        <script>
                            inputBoxErrorStatus("passwordInput")
                        </script>
                        {% else %}
                        <span span class="inputErrorMessage">[{{ error }}]</span>
                        {% endif %}
                        {% endfor %}
                    </p>
<p>
                        {{ form.new_password_repeat.label(class="hintLabel") }}
                        {{ form.new_password_repeat(size=32, class="", id="") }}<br>
                        {% for error in form.new_password_repeat.errors %}
                        {% if error == "This field is required." %}

                        {% else %}
                        <span >[{{ error }}]</span>
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class="yesButton login") }}</p>
</form>
{% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
               {{ message }}
                {% endfor %}
                {% endif %}
                {% endwith %}
</body>
</html>