<head>
    <title>教室预约-登录</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <script src='{{url_for('static', filename='js/jquery-3.3.1.min.js')}}'></script>
    <script src='{{url_for('static', filename='js/login.js')}}'></script>
</head>

{% block content %}

<div id="logInCenter">
    <div id="loginShadowBox"></div>
</div>
<div id="logInCenter">
    <div class="mainPageCard">
        <div style="background:url({{url_for('static', filename='image/mainPage.png')}}); background-size: contain;" id="MainPageBackgroundImage">

            <div id="loginBox">
                <h1 class="bigTitle">Sign In</h1>
                <form action="\login" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label(class="hintLabel") }}
                        {{ form.username(size=32, class="inputo", id="usernameInput") }}<br>
                        {% for error in form.username.errors %}
                        {% if error == "This field is required." %}
                        <script>
                            inputBoxErrorStatus("usernameInput")
                        </script>
                        {% else %}
                        <span span class="inputErrorMessage">[{{ error }}]</span>
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label(class="hintLabel") }}
                        {{ form.password(size=32, class="inputo", id="passwordInput") }}<br>
                        {% for error in form.password.errors %}
                        {% if error == "This field is required." %}
                        <script>
                            inputBoxErrorStatus("passwordInput")
                        </script>
                        {% else %}
                        <span span class="inputErrorMessage">[{{ error }}]</span>
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class="yesButton login") }}</p>
                </form>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <script>
                    disableButton()
                </script>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div id="registerBox"> <a href="/register" id="registerText"> Register > </a> </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}