{% block content %}
{% if session['logged_in'] %}

You're logged in already!

{% else %}
    <h1>Register</h1>
    <form action="\register" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.real_name.label }}<br>
            {{ form.real_name(size=32) }}<br>
            {% for error in form.real_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tel.label }}<br>
            {{ form.tel(size=32) }}<br>
            {% for error in form.tel.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
       <span style="color: red;">{{ messages }}</span>
    {% endfor %}
    {% endif %}
    {% endwith %}

{% endblock %}