<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Reserves</title>
</head>
<body>
{% block content %}
    {% for reserve in reserves %}
<form action={{ url_for('reserve_management') }} method="post" novalidate>
    <p>
        Reserve user:<a href={{ url_for('user_profile',user_id=reserve['user_id']) }}> {{ reserve['user_id'] }} </a></p>
    <p> apply  {{ reserve['address'] }} for {{ reserve['reason'] }}
        On {{ reserve['date'] }} During: {{ reserve['begin_course'] }} to {{ reserve['end_course'] }}
    </p>
    <p>Apply time:  {{ reserve['apply_time'] }} </p>
    <p><input id="reserve_id" name="reserve_id" type="hidden" value={{ reserve['reserve_id'] }}></p>
   <p><input id="submit" name="submit" type="submit" value="Approve"></p>
<p><input id="submit" name="submit" type="submit" value="Disapprove"></p>
</form>
    {% endfor %}
    <a href={{ url_for('reserve_all') }}> Check out all reserve recodes </a>
{% endblock %}
</body>
</html>