<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alert.css')}}">
    <script src='{{url_for('static', filename='js/jquery-3.3.1.min.js')}}'></script>
    <script src='{{url_for('static', filename='js/jquery.easing.1.3.js')}}'></script>
    <script src='{{url_for('static', filename='js/search.js')}}'></script>
    <script src='{{url_for('static', filename='js/sweetalert.min.js')}}'></script>
</head>

<body>
    <div class="overlay">
        <div class="card">
            <form action="\result" method="post" novalidate>

                {{ form.hidden_tag() }}
                <h1 class="bigTitle">Reservation</h1>
                <div class="dateSelecter insideCard">
                    <h1 class="secondaryTitle">Choose Date</h1>
                    {% for subfield in form.dates %}
                    <span class="dateSelecterCell">
                        {{ subfield(class="dateRadio") }}
                        {{ subfield.label(class="dateLabel") }}
                    </span>
                    {% endfor %}
                </div>
                {% for error in form.dates.errors %}
                <script>
                    swal({
                        title: "{{ error }}",
                        icon: "error"
                    })
                </script>
                {% endfor %}

                <div class="courseSelecter insideCard">
                    <h1 class="secondaryTitle">Select Classes</h1>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course1(class="courseCheckbox") }}
                        {{form.course1.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course1Time">8:15 - 9:00</label>
                    </div>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course2(class="courseCheckbox") }}
                        {{form.course2.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course2Time">9:10 - 9:55</label>
                    </div>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course3(class="courseCheckbox") }}
                        {{form.course3.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course3Time">10:15 - 11:00</label>
                    </div>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course4(class="courseCheckbox") }}
                        {{form.course4.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course4Time">11:10 - 11:55</label>
                    </div>
                    <div class="classSplitLine"> </div>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course5(class="courseCheckbox") }}
                        {{form.course5.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course5Time">13:50 - 14:35</label>
                    </div>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course6(class="courseCheckbox") }}
                        {{form.course6.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course6Time">14:45 - 15:30</label>
                    </div>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course7(class="courseCheckbox") }}
                        {{form.course7.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course7Time">15:40 - 16:25</label>
                    </div>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course8(class="courseCheckbox") }}
                        {{form.course8.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course8Time">16:40 - 17:30</label>
                    </div>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course9(class="courseCheckbox") }}
                        {{form.course9.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course9Time">17:40 - 18:25</label>
                    </div>
                    <div class="classSplitLine"> </div>
                    <div class="courseSelecterCell">
                        <div class="courseAnimateDiv"></div>
                        {{ form.course10(class="courseCheckbox") }}
                        {{form.course10.label(class="courseIndex") }}
                        <label class="classTimeLabel" id="course10Time">19:20 - 21:00</label>
                    </div>
                </div>
                <div class="campuselecter insideCard">
                    <h1 class="secondaryTitle">Choose Campus</h1>
                    {% for subfield in form.region %}
                    <div class="campusSelecterCell">
                        {{ subfield(class="campusRadio") }}
                        {{ subfield.label(class="campusLabel") }}
                        <div class="inlineButtonContainer"><span class="locationButton" id="locate{{ form.region.choices.index((subfield.data,subfield.label.text))}}">
                                <svg class="locationIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                                    <path d="M0 0h24v24H0z" fill="none" /></svg>
                            </span></div>
                    </div>
                    {% endfor %}
                </div>



                <div class="buttonBar">
                    <div class="buttonContainer">
                        {{ form.submit(class="bottomButton submitButton") }}
                    </div>
                </div>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <script>
                swal({
                    title: "{{ message }}",
                    icon: "error"
                })
            </script>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>

</html>